html {
    font-family: Raleway;
    color: #444;
}

table {

    border-collapse: collapse;
    text-align: center;

    td, th {
        border: 0.5px solid #cccccc60;
        font-size: 80%;
        padding: 3px;

        span {
            font-size: 75%;
        }

        a {
            text-decoration: none;
            color: #0652DD;
        }
    }

    .no-border {
        border: none;
    }

    .score {
        background-color: #95a5a6;
        width: 75px;
    }

    .wrong {
        background-color: #c0392b;
    }

    .good {
        background-color: #2ecc71;
    }

    .fine {
        background-color: #f39c12;
    }
}
