html {
    font-family: Raleway;
    color: #444;
}

table {

    border-collapse: collapse;
    text-align: center;

    td, th {
        border: 1px solid #ccc;
        font-size: 80%;
        padding: 3px;
    }

    .no-border {
        border: none;
    }

    .score {
        background-color: #95a5a6;
        width: 75px;
    }

    .wrong {
        background-color: #c0392b;
    }

    .good {
        background-color: #2ecc71;
    }

    .fine {
        background-color: #f39c12;
    }
}
