<!doctype html>
{% load sass_tags %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Habit Tracking">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Habit Tracking</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css">
  {% block css %}{% endblock %}
  <!--analytics-->
</head>

<body>
    <h1>Habits</h1>

    <table>
        <tr>
            <td class="no-border"></td>
            {% for history in progressium.histories %}
            <td>{{ history.next_cheat }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="no-border"></td>
            {% for history in progressium.histories %}
            <td>{{ history.target_streak }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Date</th>
            {% for habit in progressium.habits %}
            <th>{{ habit.name }}</th>
            {% endfor %}
            <th>Day Total</th>
            <th>Running Total</th>
        </tr>
        {% for day in progressium.days reversed %}
        <tr>
            <td>{{ day.date }}</td>
            {% for score in day.scores %}
            <td class="score {% if score > 0 %}good{% else %}{% if score == 0 %}fine{% else %}{% if score < 0 %}wrong{% endif %}{% endif %}{% endif %}">{% if score != None %}{{ score }}{% endif %}</td>
            {% endfor %}
            <td>{{ day.score_total }}</td>
            <td>{{ day.running_total }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
