{% extends "base.html" %}
{% load humanize %}

{% block body %}
{{ messages.0.message }}
    <table>
        <tr>
            <td class="no-border"></td>
            {% for history in progressium.histories %}
            <td>{{ history.next_cheat }}</td>
            {% endfor %}
            <td class="no-border"></td>
            <td class="no-border"><a href="?day={{ previous }}">&#9664;</a></td>
            <td class="no-border"><a href="?day={{ next }}">&#9654;</a></td>
        </tr>
        <tr>
            <td class="no-border"><a href="/new/">New Habit</a></td>
            {% for history in progressium.histories %}
            <td>{{ history.target_streak }} <span>🎯</span></td>
            {% endfor %}
        </tr>
        <tr>
            <td class="no-border"></td>
            {% for history in progressium.histories %}
            <td>{{ history.badges }} <span>🏆</span></td>
            {% endfor %}
        </tr>
        <tr>
            <th>Date</th>
            {% for habit in progressium.active_habits %}
            <th><a href="/{{ habit.id }}/">{{ habit.name }}</a></th>
            {% endfor %}
            <th>Day Total</th>
            <th>Weighted Total</th>
            <th>Running Total</th>
        </tr>
        {% for day in progressium.days reversed %}
        <tr>
            <td>{{ day.date|naturalday|title }}</td>
            {% for score in day.scores %}
            <td class="score {% if score > 0 %}
                good
                {% else %}
                  {% if score == 0 %}
                    fine
                  {% else %}
                    {% if score < 0 %}
                      wrong
                    {% endif %}
                  {% endif %}
                {% endif %}{% if messages and messages.0 == day.date|date:'Y-m-d' and messages.1 == forloop.counter %} changed{% endif %}" ondblclick="console.log($(this).find('form')[0].submit())">
                <form method="POST">
                {% if score != None %}{{ score }}{% endif %}
                <input type="hidden" name="day" value="{{ day.date|date:"Y-m-d" }}">
                <input type="hidden" name="habit" value="{{ forloop.counter }}">
                {% csrf_token %}
                </form>
            </td>
            {% endfor %}
            <td>{{ day.score_total }}</td>
            <td>{{ day.weighted_total|floatformat:"2" }}</td>
            <td>{{ day.running_total|floatformat:"2" }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
