<!doctype html>
{% load sass_tags %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Habit Tracking">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Habit Tracking</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  {% block css %}{% endblock %}
  <!--analytics-->
</head>

<body>
    <h1>Habits</h1>

    <table>
        <tr>
            <th>Date</th>
            {% for habit in progressium.habits %}
            <th>{{ habit.name }}</th>
            {% endfor %}
            <th>Day Total</th>
            <th>Running Total</th>
        </tr>
        {% for day in progressium.days %}
        <tr>
            <td>{{ day.date }}</td>
            {% for score in day.scores %}
            <td>{{ score }}</td>
            {% endfor %}
            <td>{{ day.score_total }}</td>
            <td>{{ day.running_total }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
